<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @product_specification.value %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_specification.product %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @product_specification.specification %>
</p>

<%= link_to 'Edit', edit_product_specification_path(@product_specification) %> |
<%= link_to 'Back', product_specifications_path %>
