<link href="/assets/pages/css/blog.min.css" rel="stylesheet" type="text/css" />
<p id="notice"><%= notice %></p>
    <div class="blog-page blog-content-1">
        <div class="row">            
        <% @products.each do |p| %>
            <div class="col-sm-3">
                <div class="blog-post-sm bordered blog-container">
                    <div class="blog-img-thumb">
                        <%= image_tag p.image_file_name %>                            
                    </div>
                    <div class="blog-post-content">
                        <h4 class="blog-title blog-post-title" style="height: 5ch;">
                            <a href="<%= p.description %>" target="_blank" style="font-size:15px;"><%= p.name %> </a>
                        </h2>
                        <p class="blog-post-desc"> 
                          <%=
                          p.sub_category.category.group_category.name + ", " + p.sub_category.category.name + ", " +  p.sub_category.name
                          %>
                        </p>
                        <div class="blog-post-foot">
                            <div class="blog-post-meta">
                                <b>PKR. <%= p.price %></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <% end %> 
        </div>
    </div>
    <center>
    
    <%= will_paginate @products %>
    </center>
<br>
